.chat {
	position: relative;
	display: flex;
	justify-content: center;
	height: 100vh;
	background: linear-gradient(
		to right,
		rgba(128, 0, 128, 0.918),
		rgba(128, 0, 128, 0.87)
	);
	.container {
		margin-top: 50px;
		position: relative;
		height: 80vh;
		.col-sm-4 {
			height: 80vh;
			border-right: 1px solid lightgray;
			border-left: 1px solid lightgray;
			.profile {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 60px;
				background: white;
				border-bottom: 1px solid lightgray;
				border-left: 1px solid lightgray;
				img {
					border-radius: 50%;
					border: 1px solid lightgray;
					height: 50px;
					margin-left: 20px;
					margin-top: 5px;
				}
				p {
					color: black;
					margin-top: -40px;
					margin-left: 80px;
				}
			}
			.contact {
				position: absolute;
				top: 60px;
				left: 0;
				width: 100%;
				height: 70.1vh;
				background: rgb(238, 235, 235);
				border-bottom: 1px solid lightgray;
				.search-contact {
					form {
						input {
							margin-left: 50px;
							margin-top: 20px;
						}
					}
				}
			}
		}
		.col-sm-8 {
			height: 80vh;
			background: rgb(238, 235, 235);
			border-bottom: 1px solid lightgray;
			border-right: 1px solid lightgray;
			.contact-chat {
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 60px;
				background: white;
				border-bottom: 1px solid lightgray;
				border-right: 1px solid lightgray;
			}
			.type-messages {
				position: absolute;
				bottom: 0;
				right: 0;
				height: 60px;
				width: 100%;
				background: white;
				border-top: 1px solid lightgray;
			}
		}
	}
	#preloader {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	#loader {
		display: block;
		position: relative;
		left: 50%;
		top: 50%;
		width: 150px;
		height: 150px;
		margin: -75px 0 0 -75px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #9370db;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}
	#loader:before {
		content: '';
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #ba55d3;
		-webkit-animation: spin 3s linear infinite;
		animation: spin 3s linear infinite;
	}
	#loader:after {
		content: '';
		position: absolute;
		top: 15px;
		left: 15px;
		right: 15px;
		bottom: 15px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #ff00ff;
		-webkit-animation: spin 1.5s linear infinite;
		animation: spin 1.5s linear infinite;
	}
	@-webkit-keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
	@keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
}

@media only screen and (min-width: 1400px) {
	.form-control {
		width: 65%;
	}
	#send {
		left: 65% !important;
	}
}
