.header {
	position: relative;
	.navbar-brand {
		margin-left: 100px;
		img {
			height: 50px;
		}
	}
	.brand {
		h1 {
			color: white;
			font-size: 32px;
			letter-spacing: 5px;
		}
	}
	ul {
		margin-right: 100px;
	}
	.nav-link {
		color: white !important;
		letter-spacing: 2px;
		font-weight: 600;
	}
	.navbar-light {
		.navbar-toggler-icon {
			background-image: url('../../assets/img/list-grey.svg') !important;
		}
	}
}

@media only screen and (max-width: 767px) {
	.nav-link {
		margin-left: 100px;
	}
}
